
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

.color-picker .react-colorful{
  width: 1000px;
  border-radius: 0px;
}

.header {
  background-color: white;
    color: black;
    font-size: medium;
    width: 100%;
    height: fit-content;
    border: black;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 10px;

}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 80px;

}

/* Home Page CSS */

.homepage-div{
  width: 50%;
  height: 50%;
  margin:auto;
  display: block;
  background-color: white;
  border-radius: 15px;

}

.homepage-intro{
  font-size: 20px;
  font-family: Montserrat;
  padding: 20px;
}

.page-heading{
  font-size: 30px;
  font-family: Montserrat;
  padding: 20px;
}

.homepage-text{
  font-size: 20px;
  font-family: Montserrat;
  padding: 20px;

}

.get-started-button{
  width: 300px;
  height: 50px;
  font-size: 15px;
  font-weight: 200;
  font-family: Montserrat;
  color: black;
  box-shadow: 3px 3px rgb(146, 146, 146);
  border-radius: 40px;
  background-color: whitesmoke;

}

/* Header CSS */

.web-title{
  font-size: 60px;
  font-family: Montserrat;
  font-weight: 200px;
}

.navbar{
  display: flex;
  align-items: center;
}
.navbar nav {
  display: flex;
  margin-left: auto;
}

.active{
  font-size: 20px;
  font-family: Montserrat;
  margin: 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: all 500ms;
  
}

.active:hover{
  font-size: 25px;
  font-size-adjust: 20px;
  transition: all 500ms;
}

.navlink{
  font-size: 20px;
  font-family: Montserrat;
  margin: 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: all 500ms;
}

.navlink:hover{
  font-size: 25px;
  font-size-adjust: 20px;
  transition: all 500ms;
}

.pending{
  margin: 20px;
  color: rgb(146, 255, 251);
  text-decoration: none;
}

.example {
  border: solid;
  border-width: 2px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  
}

/* Color Studio CSS Example Header*/
header {
  width: 100%;
  display: flex;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.example nav {
  width: 100%;
  text-align: end;
  margin: 15px;
}

.example nav span {
  margin: 10px;
 font-weight: bold;
 padding: 5px;
 border-radius: 8px;
}

header h2 {
  width: 20%;
  margin: 10px;
}

.jumbotron {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.jumbotron h3 {
  display: inline-block;
  padding: 10px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.jumbotron p {
  margin: 1%;
}

.jumbotron button {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

/* Color Studio CSS Example Cards*/
.card-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  text-align: center;
  border-radius: 5px;
  margin: 20px;
  width: 20%;
  padding: 10px;
}

.card button {
  width: 60px;
  margin-top: 5px;
  margin-bottom: 8px;
  margin-right: auto;
  margin-left: auto;
}

.card-content {
  border-radius: 5px;
}

.card h3 {
 margin: 0px;
}

.card p {
  margin: 5px;
 }

 /* Color Selector CSS*/

.RgbaPicker .react-colorful {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.color-detail-conatiner {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 20px;
  font-family: Montserrat;
  text-wrap: nowrap;
  flex-wrap: wrap;
}


.colorValue {
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}


.colorValue input{
  text-align: center;
  width: 80px;
  font-size: 15px;

}

/* Color Pallet CSS*/

.collor-pallet-title {
  text-align: center;
  width: 100%;
  margin: 0px;
  margin-top: 30px;
  font-family: Montserrat;
}

#pallet-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  font-family: Montserrat;
}

#pallet-container div{
  margin-left: 20px;
  margin-right: 20px;
}

#pallet-container div div{
  width: 100px;
  height: 100px;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.colorActive div{
  box-shadow: 2px 2px 2px 2px black;
}

/* color secondaries css*/
.secondaries-container {
  display: flex;
  justify-content: center;
  font-family: Montserrat;
}

.secondary-value {
  margin-left: 10px;
  margin-right: 10px;
}

.secondary-value label {
  margin-right: 10px;
}

.secondary-value select {
  border-radius: 5px;
}

/* css for blog example */

.blog-holder {
  padding-bottom: 10px;
  height: auto; 
  padding-top: 1px;
}

.top-of-blog {
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  display: flex;
  justify-content: space-between;
  font-family: Montserrat;
}

.expansion {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
  padding: 10px;
  border-radius: 5px;
}

.bottom-of-blog {
  font-family: Montserrat;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.bottom-of-blog  p{
  padding: 15px;
  margin-top: 0px;
}

.blog-title {
  margin-left: 20px;
}

