
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

.color-picker .react-colorful{
  width: 1000px;
  border-radius: 0px;
}

.header {
  background-color: white;
    color: black;
    font-size: medium;
    width: 100%;
    height: fit-content;
    border: black;
    display: flex;
    align-items: baseline;
    justify-content: space-between;

}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 80px;

}

/* Home Page CSS */

.background-image-div{
  display: block;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-content: center;
}

.homepage-div{
  width: 50vw;
  height: 50vh;
  margin:auto;
  background-color: white;
  border-radius: 15px;
  padding: 30px;
  text-align: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px
}

.homepage-intro{
  font-size: 20px;
  font-family: Montserrat;
  padding: 20px;
}

.page-heading{
  font-size: 30px;
  font-family: Montserrat;
  padding: 20px;
}

.homepage-text{
  font-size: 20px;
  font-family: Montserrat;
  padding: 20px;

}

.get-started-button{
  width: 300px;
  height: 50px;
  font-size: 15px;
  font-weight: 200;
  font-family: Montserrat;
  color: black;
  border-width: 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 3px 5px;
  -moz-box-shadow: rgba(0,0,0,0.3) 0 3px 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 3px 5px;
  /* box-shadow: 3px 3px rgb(146, 146, 146); */
  border-radius: 40px;
  background-color: whitesmoke;
  transition: all 500ms;
}

.get-started-button:hover{
  transform: scale(1.1);
  transition: all 500ms;
}

/* Header CSS */

.web-title{
  font-size: 60px;
  font-family: Montserrat;
  font-weight: 200px;
}

.navbar{
  display: flex;
  align-items: center;
}
.navbar nav {
  display: flex;
  margin-left: auto;
}

.active{
  font-size: 20px;
  font-family: Montserrat;
  margin: 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: all 500ms;
  
}

.active:hover{
  font-size: 25px;
  font-size-adjust: 20px;
  transition: all 500ms;
}

.navlink{
  font-size: 20px;
  font-family: Montserrat;
  margin: 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: all 500ms;
}

.navlink:hover{
  font-size: 25px;
  font-size-adjust: 20px;
  transition: all 500ms;
}

.pending{
  margin: 20px;
  color: rgb(146, 255, 251);
  text-decoration: none;
}

.example {
  border: solid;
  border-width: 2px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  
}

/* Color Studio CSS Example Header*/
header {
  width: 100%;
  display: flex;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.example nav {
  width: 100%;
  text-align: end;
  margin: 15px;
}

.example nav span {
  margin: 10px;
 font-weight: bold;
 padding: 5px;
 border-radius: 8px;
}

header h2 {
  width: 20%;
  margin: 10px;
}

.jumbotron {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.jumbotron h3 {
  display: inline-block;
  padding: 10px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.jumbotron p {
  margin: 1%;
}

.jumbotron button {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

/* Color Studio CSS Example Cards*/
.card-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 5px;
}

.card {
  text-align: center;
  border-radius: 5px;
  margin: 20px;
  width: 20%;
  padding: 10px;
}

.card button {
  width: 60px;
  margin-top: 5px;
  margin-bottom: 8px;
  margin-right: auto;
  margin-left: auto;
}

.card-content {
  border-radius: 5px;
}

.card h3 {
 margin: 0px;
}

.card p {
  margin: 5px;
 }

 /* Color Selector CSS*/

.RgbaPicker .react-colorful {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 3px 5px;
  -moz-box-shadow: rgba(0,0,0,0.3) 0 3px 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 3px 5px;
}

.color-detail-conatiner {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 20px;
  font-family: Montserrat;
  text-wrap: nowrap;
  flex-wrap: wrap;
}


.colorValue {
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  
}


.colorValue input{
  text-align: center;
  width: 80px;
  font-size: 15px;

}


/* Color Pallet CSS */

.collor-pallet-title {
  text-align: center;
  width: 100%;
  margin: 0px;
  margin-top: 30px;
  font-family: Montserrat;
}

#pallet-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  font-family: Montserrat;
}

#pallet-container div{
  margin-left: 20px;
  margin-right: 20px;
}

#pallet-container div div{
  width: 100px;
  height: 100px;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.colorActive div{
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

@media (max-width: 450px) {
  #pallet-container div div{
    width: 50px;
    height: 50px;
  }

  .color {
    width: 35%;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
  }

  .colorActive {
    width: 35%;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
  }

  #pallet-container h2{
    font-size: 15px;
  }

  #pallet-container {
    gap: 20px;
  }
}

/* color secondaries css*/
.secondaries-container {
  display: flex;
  justify-content: center;
  font-family: Montserrat;
}

.secondary-value {
  margin-left: 10px;
  margin-right: 10px;
}

.secondary-value label {
  margin-right: 10px;
}

.secondary-value select {
  border-radius: 5px;
}

@media (max-width: 450px) {
  .secondary-value {
    font-size: 12px;
  }
}

/* css for blog example */

.blog-holder {
  padding-bottom: 10px;
  height: auto; 
  padding-top: 1px;
  border-radius: 5px;
}

.top-of-blog {
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  display: flex;
  justify-content: space-between;
  font-family: Montserrat;
}

.expansion {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
  padding: 10px;
  border-radius: 5px;
}

.bottom-of-blog {
  font-family: Montserrat;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.bottom-of-blog  p{
  padding: 15px;
  margin-top: 0px;
}

.blog-title {
  margin-left: 20px;
}

/* new-pallet CS*/

.new-pallet-button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background-color: whitesmoke;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 3px 5px;
  -moz-box-shadow: rgba(0,0,0,0.3) 0 3px 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 3px 5px;
}

/* Saved Pallet Card */

.saved-pallet-container{
  display: flex;
  flex-wrap: wrap;
}

.saved-pallet-card{
  width: 300px;
  height: 310px;
  text-align: center;
  border-radius: 12px;
  margin-bottom: 40px;
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 40px;
  transition: all 500ms;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 3px 5px;
  -moz-box-shadow: rgba(0,0,0,0.3) 0 3px 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 3px 5px;
}

.saved-pallet-card:hover{
  transform: scale(1.05);
  transition: all 500ms;
}

.saved-pallet-heading{
  font-size: 20px;
  font-family: MontSerrat;
  margin-bottom: 15px;
}
.card-color-div{
  width: 300px;
  height:200px;
  border-width: 1px;
  transition: all 500ms;
}

.card-primary{
  width: 300px;
  height:50px;

}

.card-secondary{
  width: 300px;
  height:50px;

}
.card-tertiary{
  width: 300px;
  height:50px;
  
}
.card-quarternary{
  width: 300px;
  height:50px;
  
}

.button-div{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 300px;
  height: 50px;
}
.delete-button{
  width: 85px;
  height: 30px;
  font-size: 15px;
  font-family: Montserrat;
  background-color: whitesmoke;
  color:black;
  border-radius: 15px;
  border-color: black;
  border-width: 1px;
  margin-top: auto;
  margin-right: 18px;
  margin-bottom: 7px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 3px 5px;
  -moz-box-shadow: rgba(0,0,0,0.3) 0 3px 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 3px 5px;
}


.load-button{
  width: 85px;
  height: 30px;
  font-size: 15px;
  font-family: Montserrat;
  background-color: whitesmoke;
  color:black;
  border-radius: 15px;
  border-width: 1px;
  margin-top: auto;
  margin-left: 18px;
  margin-bottom: 7px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
  -moz-box-shadow: rgba(0,0,0,0.3) 0 2px 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
}
  
.new-area {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  margin-top: 20px;
}

.set-name {
  text-align: center;
  margin-right: 20px;
}

.set-name input{
  border-radius: 5px;
}

.set-name label{
  margin-right: 5px;
}