.color-picker .react-colorful{
  width: 1000px;
  border-radius: 0px;
}

.navbar_button {
  background-color: white;
    color: black;
    font-size: medium;
    width: fit-content;
    height: fit-content;
    border: black;
}
